<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Error</title>
</head>
<body>
    <p class="error">Error:</p>
    <p class="error">
        {{ message }}
    </p>
</body>
</html>